@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination {
  position: fixed !important;
  bottom: 0 !important;
  background: white !important;
  padding: 4px !important;
}

html,
body {
  background: hsla(215, 15%, 97%, 0.5);
}
